@code {
    [Parameter]
    public List<Character> Characters { get; set; }
}

@foreach (var c in Characters)
{
    <section class="card">
        <div class="text-content">
            <h3>@c.name</h3>
            <p>
                @c.description
            </p>
            <a href="@c.resourceURI">Más</a>
        </div>
        <div class="visual">
            <img src="@string.Concat(c.thumbnail.path, ".", c.thumbnail.extension)" alt="@string.Concat(c.name, " image")" />
        </div>
    </section>
}


    @*         @foreach (var c in Characters)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="@string.Concat(c.thumbnail.path, ".", c.thumbnail.extension)" class="card-img-top" alt="@string.Concat(c.name, " image")">
                    <div class="card-body">
                        <h5 class="card-title">@c.name</h5>
                        <p class="card-text ">@c.description</p>
                        <a href="@c.resourceURI" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        } *@
